<div id="member-partial">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/trenton.jpeg">
        </div>

        <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        Trenton Kennedy <i class="mdi-navigation-more-vert right"></i>
                    </span>
            <p>UI Developer</p>
        </div>

        <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Trenton Kennedy <i class="mdi-navigation-close right"></i>
                    </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>