body {
  background-color: #fafafa;
}

.card .member-preview img {
  width: 25%;
}

.card .member-preview h4 {
  font-size: 18px;
  float: right;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.card .member-preview p {
  float: right;
  margin: 0;
  padding: 0;
  line-height: normal;
}

section.topics {
  border-top: 2px solid #bdbdbd;
  margin-top: 50px;
}

nav {
  background-color: #e0e0e0;
}

.member-search {
  margin-top: 0;
}

.member-search i {
  font-size: 24px;
  padding-left: 10px;
}

.member-search .input-field {
  padding-left: 20px;
}
.search-filters .btn-large {
  margin-top: 5px;
}

.profile-detail .card {
  padding: 25px;
}

.profile-detail .profile-settings {
  float: right;
}

.profile-settings a {
  color: #42a5f5;
  text-transform: initial;
}

.profile-detail .skills-section {
  border-top: 2px solid #bdbdbd;
  margin-top: 50px;
}

input.edit-name {
  display: none;
  width: 55%;
}

label.name-label {
  font-size: 2.28rem;
  color: #212121;
}

label.title-label {
  font-size: 16px;
  color: #212121;
}

input.edit-title {
  display: none;
  width: 55%;
}

input#search-bar {
  margin-top: 20px;
  width: 680px;
  color: #212121;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

ul.skill-types {
  background-color: #eeeeee;
  padding: 10px;
}

.main-content {
  width: 90%;
  margin: auto;
}

.card .card-title {
  font-size: 20px;
}