<header>
    <div class="container">
        <h1 class="center-align">Members Directory</h1>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="input-field col s12 center-align">
            <form>
                <div class="input-field">
                    <input id="search" type="text" required>
                    <label for="search"><i class="mdi-action-search"></i> search for a member, skill, or
                        title....</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {{#times 10}}
            <div class="col m3">
                {{include "member"}}
            </div>
        {{/times}}
    </div>


    <section class="topics">
        <p>Select a topic to search for members by skill type</p>
        <ul>
            {{#each topics}}
                <li><a href="#">{{ this.name }}</a></li>
            {{/each}}
        </ul>
    </section>
</div>
