/* line 1, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
body {
  background-color: #fafafa; }

/* line 5, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.card .member-preview img {
  width: 25%; }

/* line 9, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.card .member-preview h4 {
  font-size: 18px;
  float: right;
  margin: 0;
  padding: 0;
  line-height: normal; }

/* line 17, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.card .member-preview p {
  float: right;
  margin: 0;
  padding: 0;
  line-height: normal; }

/* line 24, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
section.topics {
  border-top: 2px solid #bdbdbd;
  margin-top: 50px; }

/* line 29, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
nav {
  background-color: #e0e0e0; }

/* line 33, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.search-filters .btn-large {
  margin-top: 5px; }

/* line 37, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.profile-detail .card {
  padding: 25px; }

/* line 41, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.profile-detail .profile-settings {
  float: right; }

/* line 45, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.profile-settings a {
  color: #42a5f5;
  text-transform: initial; }

/* line 50, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.profile-detail .skills-section {
  border-top: 2px solid #bdbdbd;
  margin-top: 50px; }

/* line 55, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
input.edit-name {
  display: none;
  width: 55%; }

/* line 60, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
label.name-label {
  font-size: 2.28rem;
  color: #212121; }

/* line 65, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
label.title-label {
  font-size: 16px;
  color: #212121; }

/* line 70, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
input.edit-title {
  display: none;
  width: 55%; }

/* line 75, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
input#search-bar {
  margin-top: 20px;
  width: 680px;
  color: #212121; }

/* line 81, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none; }

/* line 93, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* line 97, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-hint {
  color: #999; }

/* line 101, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 112, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }

/* line 118, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf; }

/* line 124, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.tt-suggestion p {
  margin: 0; }

/* line 128, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
ul.skill-types {
  background-color: #eeeeee;
  padding: 10px; }

/* line 133, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.main-content {
  width: 90%;
  margin: auto; }

/* line 138, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.card .card-title {
  font-size: 20px; }

/* line 142, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
#home-view .main-content {
  margin-top: 100px; }

/* line 146, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
#home-search a.btn-large {
  margin-bottom: 0;
  height: 65px;
  margin-left: 5px;
  vertical-align: top; }

/* line 154, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
#home-search {
  width: 75%;
  margin: auto; }

/* line 159, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
#home-search nav {
  width: 80%;
  display: inline-block; }

/* line 164, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.member-search {
  margin-top: 0; }

/* line 168, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
#home-search i {
  font-size: 32px;
  vertical-align: -webkit-baseline-middle; }

/* line 173, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.member-search .input-field {
  padding-left: 20px; }

/* line 177, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
h4.category-title {
  text-align: center;
  color: #bdbdbd;
  font-weight: 300; }

/* line 183, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.search-filters {
  width: 75%;
  margin: auto; }

/* line 188, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.search-filters p {
  display: inline-block; }

/* line 192, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.search-filters > p {
  margin-right: 25px; }

/* line 195, /Users/trenton/Development/labs/rolodex/app/styles/main.scss */
.search-filters label {
  margin-right: 15px; }


/*# sourceMappingURL=app.css.map*/